# Spam mail detection using Naive bayers

In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv(r"C:\Users\CSC\Downloads\spam.csv",encoding='unicode_escape')

In [3]:
ds.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
ds.shape

(5570, 2)

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5570 non-null   object
 1   Message   5570 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
ds.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
ds.nunique()

Category       2
Message     5155
dtype: int64

In [8]:
ds.columns

Index(['Category', 'Message'], dtype='object')

In [9]:
ds['Category']=ds['Category'].astype('category')
ds['Category']=ds['Category'].cat.codes

In [10]:
ds.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [11]:
ds.columns

Index(['Category', 'Message'], dtype='object')

Spliting the data to test and train data

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(ds.Message,ds.Category,test_size=0.2)

In [13]:
x_train

2074    Must come later.. I normally bathe him in da a...
3645    Carlos says we can pick up from him later so y...
5054    Am on a train back from northampton so i'm afr...
2915      What time should I tell my friend to be around?
2826    Oh right, ok. I'll make sure that i do loads o...
                              ...
1465    Your account has been refilled successfully by...
5157                         No but the bluray player can
2028               Thanx but my birthday is over already.
1543    After completed degree. There is no use in joi...
4264    &lt;DECIMAL&gt; m but its not a common car her...
Name: Message, Length: 4456, dtype: object

In [14]:
y_train

2074    0
3645    0
5054    0
2915    0
2826    0
       ..
1465    0
5157    0
2028    0
1543    0
4264    0
Name: Category, Length: 4456, dtype: int8

In [15]:
x_test

1073              Aight ill get on fb in a couple minutes
555     O. Well uv causes mutations. Sunscreen is like...
2162    hi my darlin im on my way to London and we hav...
226     Will u meet ur dream partner soon? Is ur caree...
921     It shall be fine. I have avalarr now. Will hol...
                              ...
2415      Could you not read me, my Love ? I answered you
802     You have won a guaranteed £200 award or even £...
5557    if you aren't here in the next &lt;#&gt; hours...
3168                  Haven't seen my facebook, huh? Lol!
3313    Oh gei. That happend to me in tron. Maybe ill ...
Name: Message, Length: 1114, dtype: object

In [16]:
y_test

1073    0
555     0
2162    0
226     1
921     0
       ..
2415    0
802     1
5557    0
3168    0
3313    0
Name: Category, Length: 1114, dtype: int8

Countvectorizer is a method to convert text to numerical data.

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
x_train_count=vectorizer.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
x_train[:3]

2074    Must come later.. I normally bathe him in da a...
3645    Carlos says we can pick up from him later so y...
5054    Am on a train back from northampton so i'm afr...
Name: Message, dtype: object

In [19]:
x_train_count.shape

(4456, 7639)

In [20]:
x_train.shape

(4456,)

Training data model

In [21]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [22]:
emails=['Hey Neethu, lets get together and watch a movie',
       'Exclusive 20% offer only for you on parking charges ',
       'Exclusive 20% offer only for you on parking charges ',
        'Hey Neethu, lets get together and watch a movie'
       ]

In [23]:
email_count=vectorizer.transform(emails)
email_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
email_count.shape

(4, 7639)

In [25]:
model.predict(email_count)

array([0, 1, 1, 0], dtype=int8)

In [26]:
x_test.shape

(1114,)

In [27]:
x_test

1073              Aight ill get on fb in a couple minutes
555     O. Well uv causes mutations. Sunscreen is like...
2162    hi my darlin im on my way to London and we hav...
226     Will u meet ur dream partner soon? Is ur caree...
921     It shall be fine. I have avalarr now. Will hol...
                              ...
2415      Could you not read me, my Love ? I answered you
802     You have won a guaranteed £200 award or even £...
5557    if you aren't here in the next &lt;#&gt; hours...
3168                  Haven't seen my facebook, huh? Lol!
3313    Oh gei. That happend to me in tron. Maybe ill ...
Name: Message, Length: 1114, dtype: object

In [28]:
x_test_count=vectorizer.transform(x_test)

In [29]:
y_predicted=model.predict(x_test_count)
y_predicted

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [30]:
model.score(x_test_count,y_test)

0.9865350089766607